[run]
# Which paths should be measured? (The current directory)
source = .
# Which paths should be ignored?
omit =
    */migrations/*
    */tests.py
    */tests/*
    manage.py
    core/wsgi.py
    core/asgi.py
    venv/*
    env/*

[report]
# Show missing lines in the report
show_missing = True